@yellow: #ffffff;
@blue: #42f5e9;
@white: #f5f7f7;
@green: #90a358;

.margen(@top: @0px, @bottom, 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: @white;
  padding: 85px 0 35px;
}

.btn-reserva {
  width: 100%;
  color: @white;
  background-color: @green;
}

.btn-como {
  width: 100%;
  color: @white;
  background-color: @green;
  padding-top: 10px;
}

.navbar-color {
  color: @white;
  background-color: @green;
}

.card-subtitle {
  color: @blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 0;
  margin-top: 10px;
}

.tab-content {
  padding-top: 10px;
}

.footer {
  padding: 10px 10px 0 10;
  background-color: @yellow;
  margin-bottom: 0;
}
