.jumbotron {
  background-color: blue;
  color: white;
  padding: 85px 0 35px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  color: white;
  background-color: green; }

.btn-como {
  width: 100%;
  color: white;
  background-color: green;
  padding-top: 10px; }

.navbar-color {
  color: white;
  background-color: green; }

.card-subtitle {
  color: blue;
  padding-top: 10px;
  padding-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0;
  margin-top: 10px; }

.tab-content {
  padding-top: 10px; }

.footer {
  padding: 10px 10px 0 10;
  background-color: #fffeee;
  margin-bottom: 0; }
