.jumbotron {
  background-color: #42f5e9;
  color: #f5f7f7;
  padding: 85px 0 35px;
}
.btn-reserva {
  width: 100%;
  color: #f5f7f7;
  background-color: #90a358;
}
.btn-como {
  width: 100%;
  color: #f5f7f7;
  background-color: #90a358;
  padding-top: 10px;
}
.navbar-color {
  color: #f5f7f7;
  background-color: #90a358;
}
.card-subtitle {
  color: #42f5e9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0;
  margin-top: 10px;
}
.tab-content {
  padding-top: 10px;
}
.footer {
  padding: 10px 10px 0 10;
  background-color: #ffffff;
  margin-bottom: 0;
}
